body {
    height: 100%;
    background-color: black;
    font-size: larger;
}

h1 {
    font-family: "Monofett", monospace;
}

ul, ol{
    padding-left: 1em;
}

.main {
    flex-grow: 1;
}

.titolo {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.w3-panel {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}